body {
    font-family: monospace;
    background-size: cover;
    background-color: white;
    line-height: 1;
    margin: auto;
    font-size: 1rem;
    max-height: 100vh;
    overflow: hidden;
}
#instructions {
    line-height: 1;
    padding-bottom: 0.5rem;
    text-align: center;
}
#settingsPane {  
    border: 2px solid;
    margin: 1rem;
    overflow-y: scroll;
    resize: horizontal;
    grid-area: settings;
    max-height: 95vh;
    width: 40vw;
    min-width: 150px;
}
.settingSection {
    border: 2px solid;
    margin: .1rem;
    padding: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 2rem;
}
label {
    text-align:left;
}

input {
    float: right;
}

select {
    float:right;
}
.settingContainer {
    margin-top: 2rem;
}

#grid {
    display: grid;
    padding: 3px;
    grid-gap: 3px;
    grid-template: 
    "settings preview" min-content
    "settings output" 1fr
        / min-content 1fr;
    max-height: 100%;
    max-height: 100vh;
    align-content: start;
}

#previewPane {
    overflow: hidden;
    resize: vertical;
    border: 2px solid;
    margin: 1rem;
    padding: 0.1rem;
    min-height: 150px;
    max-height: 80vh;
    /* This is a bit nonobvious. I want the preview pane to have a 16:9 aspect ratio initially but be adjustable otherwise.
    aspect-ratio prevents resizing so I can't use that. However I know this element will have initial width of 60vw due to the settings pane's initial sizing.
    So for 16:9 I should set this element's height equal to 9/16*60vw ≈ 32vw */
    height: 32vw; 
    grid-area: preview;
}

#outputPane {
    border: 2px solid;
    overflow: auto;
    grid-area: output;
    margin: 1rem;
    padding: 0.1rem;
}

#preview {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: none;
}
#previewPane {
    padding:0;
}
#outputURL {
    margin: 0.3rem;
    margin-top: 0rem;
    margin-bottom: 0.1rem;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-y:hidden;
}
#linkTitle {
    text-align: center;
    margin: 1rem;
}
button{
    width:100%;
    padding: 0.7rem;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}