body {
    text-align: center;
    font-family: monospace;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    font-size: 5vw;
}
#box {
    margin: auto;
	margin-top: 10%;
    max-width: 90%;
    padding: 1rem 3rem;
    display: inline-block;
    overflow: hidden;
}
#timer {  
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    font-size: 8vw;
}
.label {
    font-size: 2vw;
}

.backgroundVideo {
    background: #000;
    position: fixed;
    box-sizing: border-box;
    top: 0; right: 0; bottom: 0; left: 0;
    visibility:hidden;
    z-index: -99;
}
#backgroundVideoFrame {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
    .backgroundVideo { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .backgroundVideo { width: 300%; left: -100%; }
}
